In [1]:
#Sorted function returns a list in which all the items are sorted  from an iterable
goals=[34,46,3,4646,342,2]
print(sorted(goals))

[2, 3, 34, 46, 342, 4646]

In [14]:
'''Works for tuple also(too)'''

'Works for tuple also(too)'

In [15]:
goal=(34,46,3,4646,342332,33,432)
sorted(goal)

[3, 33, 34, 46, 432, 4646, 342332]

In [17]:
'''-------------------------------------------------------------------------------------
A whole new concept
----------------------------------------------------------------------------------------
'''
score=[45,44,64,34,3,53,32]
score.sort()
print(score)
print('-'*20)

goal=(34,46,3,4646,342332,33,432)
print(sorted(goal))
print('-'*20)
print(goal)
print('-'*20)

[3, 32, 34, 44, 45, 53, 64]
--------------------
[3, 33, 34, 46, 432, 4646, 342332]
--------------------
(34, 46, 3, 4646, 342332, 33, 432)
--------------------

In [ ]:
#sort function changes the original iterable on the other hand sorted just displays the result in sorted order

In [18]:
'''Can change the direction'''
goal=(34,46,3,4646,342332,33,432)
sorted(goal,reverse=True)      #output comes in descending order

[342332, 4646, 432, 46, 34, 33, 3]

In [19]:
sorted((32,5,223,53))         #remember,sorted function returns a list

[5, 32, 53, 223]

In [20]:
sorted((32,5,223,53),reverse=True)#It gives a list

[223, 53, 32, 5]

In [21]:
users = [
    {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
    {"username": "katie", "tweets": ["I love my cat"]},
    {"username": "jeff", "tweets": [], "color": "purple"},
    {"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
    {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
    {"username": "guitar_gal", "tweets": []}
]


sorted(users,key=lambda user:user['username'])

[{'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'guitar_gal', 'tweets': []},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']}]

In [22]:

sorted(users,key=lambda user:user['username'],reverse=True)

[{'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'guitar_gal', 'tweets': []},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'}]

In [26]:
'''---------------------------------------------------------------------------'''
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

sorted(songs,key=lambda song:song['playcount'])

[{'title': 'happy birthday', 'playcount': 1},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99}]