In [ ]:
#Map takes atleast two arguments 
'''
Function 
Iterable
'''

In [ ]:
'''
Runs the lambda for each value in the iterabe and
returns a map object which can be converted into another
data structure

'''
#<map object at 0x0000022FF2A800F0> This is map object
#Can be converted to iterables

In [8]:
numbers=[1,23,3,5,6]
answer=map(lambda x:x*x,numbers)
for i in answer:
    print(i)

1
529
9
25
36

In [9]:
print(answer)

<map object at 0x0000022FF2A80278>

In [10]:
'''MAP FUNCTION CAN BE ITERATED ONLY ONCE'''
print(list(answer))

[]

In [11]:
'''MAP FUNCTION CAN BE ITERATED ONLY ONCE'''
print(tuple(answer))

()

In [12]:
#Take name in a list convert them to uppercase
country=['india','spain','france','brazil']
answer=map(lambda i:i.upper(),country)
print(list(answer))

['INDIA', 'SPAIN', 'FRANCE', 'BRAZIL']

In [14]:
#Let's do something quibble
names=[
    {'first':'james','last':'anderson'},
    
    {'first':'cristiano','last':'anderson'},
    
    {'first':'mbappe','last':'anderson'}
]

check=map(lambda x:x['first'],names)
print(list(check))

['james', 'cristiano', 'mbappe']