In [2]:
queries=int(input("Enter the number of queries"))


# for i in range(queries):   


def check(n,k):
    pass

Enter the number of queries1

#####

In [25]:
n=3
k=5
a=5
b=2
c=5

answer=3


for i in range(1,10):
    if abs(i-a)<=k:
        print(abs(i-a))
        print('yes')
        break
for i in range(1,10):
    if abs(i-b)<=k:
        print(abs(i-b))
        print('yes')
        break
for i in range(1,10):
    if abs(i-c)<=k:
        print(abs(i-c))
        print('yes')
        break

4
yes
1
yes
4
yes

In [6]:
x=-4
print(abs(x))

4

In [7]:
x=-34
print(abs(x))

34

In [ ]:
4
5 1
1 1 2 3 1
4 2
6 4 8 5
2 2
1 6
3 5
5 2 5

In [26]:
print('hi')

hi

In [32]:
number=int(input("Enter the number"))

for i in range(1,number+1):
    n,k=input('enter value of n and k respectively').split(' ')
    n=int(n)
    k=int(k)
    
    for i in range(1,n+1):
        value=int

Enter the number3
enter value of n and k respectively2 3

TypeError: 'int' object is not iterable