#### Numbers
    
    
* The Arithmetic overflow problem : 
     * Multiplying two large floating point numbers may get an arithmetic overflow
     * 2.8e200*4.3e200  may result in  : inf
     
* The Arithmetic underflow problem :
     * When calculated result is too small in magnitude to be represented.
     * 3.0e-400/5.0e300 result as 0.0
     
* Loss of precision problem :
     * 1/3 is .3333333....

In [1]:
2.8e200*4.3e200

inf

In [2]:
3.0e-400/5.0e300

0.0

In [4]:
format(float(16/float(3)),'.3f')

'5.333'

In [5]:
16/3

5.333333333333333

In [29]:
print('beautiful' '.......' 'seems it is gonna be rain')

beautiful.......seems it is gonna be rain

* The above code is amazing.

---

#### Escape Sequences

In [33]:
print("Today is the \nindependence day")

Today is the
independence day

In [31]:
print("Python is one of the \
best language")

Python is one of the best language

---
##### Raw string in python using r' or R'
---

In [43]:
print('this is the\s raw \n st\tring"')

this is the\s raw
 st	ring"

In [44]:
print(r'this is the\s raw \n st\tring"')

this is the\s raw \n st\tring"

---

---
#### String formatting 
---

In [ ]:
format(value,format_specifier)

In [45]:
format('hola ahi','<30')

'hola ahi                      '

In [46]:
format('hi there!','>30')

'                     hi there!'

In [47]:
format('hello','^30')

'            hello             '

---

---
### Identifiers
___

In [48]:
__=23
print(__)

23

* Multiple Assignment

In [50]:
apple=flag=a=b=0
print(apple,'\n',flag,'\n',a)

0
 0
 0

* Multiple statements on a single line

In [51]:
print('hello');x=43;print(x);

hello
43

---

In [18]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for k in range(n,i,-1):
        print('',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
#     for l in range(i,):
#         print('#',end=' ')
    print()

Enter the number of rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [25]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for k in range(n,i,-1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    for l in range(1,i):
        print('*',end=' ')
    print()

Enter the number of rows7
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [28]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for k in range(n,i,-1):
        print('',end=' ')   
    for k in range(n,i,-1):
        print('',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    for j in range(1,i+1):
        print('-',end=' ')

    print()

Enter the number of rows5
        * -
      * * - -
    * * * - - -
  * * * * - - - -
* * * * * - - - - -